﻿@{
	ViewBag.Title = "Path of Least Resistance";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-warning">Path of Least Resistance</h3>

<div class="col-lg-12">
	<div class="row">
		<div class="col-lg-12">
			<p class="lead">
				This application calculates the path of least resistance given a grid representation of resistances using the Bellman-Ford Shortest Path algorithm.
			    To use this application, please provide the parameters for an action and click the respective div (click the text above the input boxes) to calculate the shortest path.
                The resulting grid may be edited (click on a cell, modify, and hit Enter) to see the changes reflected in real-time.
			</p>
		</div>
		<div class="col-lg-5">
			<div class="well bs-component">
				<div class="form-horizontal">
					<fieldset>
						<legend>Input</legend>
						<div class="form-group">
							<div class="col-lg-12">
								<div id="btnCalculateFromRandomGrid" class="btn btn-primary btn-block">
									Calculate from random values
									<div class="row" align="left">
									    <div class="col-lg-3">
									        Width
									        <input type="number" id="txtWidth" class="form-control" />
									    </div>
									    <div class="col-lg-3">
									        Height
									        <input type="number" id="txtHeight" class="form-control" />
									    </div>
									    <div class="col-lg-3">
									        Max
									        <input type="number" id="txtMax" class="form-control" />
									    </div>
									    <div class="col-lg-3">
									        Negative
											<input type="checkbox" id="chkNegative" class="form-control" />
									    </div>
									</div>
								</div>
								@*<input type="button" id="btnCalculateUsingHardCodedInput" value="Calculate using hard-coded input" class="btn btn-primary btn-block"/>*@
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-12">
								<div id="btnCalculateFromInputFileAtURL" class="btn btn-primary btn-block">
									Calculate from input file at URL <br />
									<input type="url" id="txtURL" class="form-control" placeholder="Enter URL (Try 'Content/inputData.json')" />
									<div class="row">
										<div class="col-lg-12 left" align="left">
											<div class="radio">
												<label>
													<input type="radio" name="optFileFormat" value="text" />Text
												</label>
											</div>
											<div class="radio">
												<label>
													<input type="radio" name="optFileFormat" value="json" />JSON
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-12">
								<div id="btnCalculateFromTextInput" class="btn btn-primary btn-block">
									Calculate from text input <br />
									<textarea class="form-control expanding" id="txtGrid" placeholder="Enter Grid (box expands automatically)" rows="2"></textarea>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="well bs-component">
				<div class="form-horizontal">
					<fieldset>
						<legend>Output</legend>
						<div class="form-group">
							<div class="col-lg-12">
								<div id="tablecontent"></div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-6">
								<label id="success"></label><br />
								<label id="distance"></label><br />
								<label id="path"></label><br />
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
	<script src="~/signalr/js"></script>
	<script src="~/signalr/hubs"></script>
	<script src="~/Scripts/expanding.js"></script>
	<script src="~/Scripts/POLRViewScripts.js"></script>
}

