﻿.center {
	margin-left: auto;
    margin-right: auto;
}

.outline {
	outline: beige dotted 3px;
}

footer {
	background-color: red;
}

.more-padding {
	padding-top: 10px;
	padding-bottom: 10px;
}


table.polrGrid {
	border-collapse: collapse;
	border: 1px solid #CCB;
	width: 200px;
}

	table.polrGrid td, table.polrGrid th {
		text-align: center;
		padding: 10px;
		border: 1px solid #E0E0E0;
	}

	table.polrGrid th {
		text-align: center;
		display: none;
	}

